 body {
	font-family: 'Roboto', sans-serif;
    background: white url(img/background.png) no-repeat center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
}
.form-container{
  opacity: .9;

}
.signup-form{
  display: none;
}
.row {
  justify-content: center;
}
.ic{
    z-index: 1;
    font-size: 100px;
    margin-bottom: 25px;
    text-align: center;
}
.forgot{
  float: right;
}
.term{
  font-size: 13px;
}

.ii {
  padding: 10px;
  min-width: 40px;
  color: red;
  background-color: white;
}